<!DOCTYPE html>
<html lang="en">
    <%- include('common/head')%>
    <body>
        <!-- Navigation-->
        <%- include('common/navbar')%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Clean Blog</h1>
                            <span class="subheading">A Blog Theme by Start Bootstrap</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <div class="post-preview">

                      <% if (message.length>0) {%> 
                        <div class="alert alert-success">
                          <%= message %>
                        </div>  
                        <%}%> 
                  <a href="/add/student" class="btn btn-info">Add Student</a>
                    </div>
                    <!-- Divider-->
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">name</th>
                            <th scope="col">city</th>
                            <th scope="col">phone</th>
                            <th scope="col">image</th>
                            <th colspan="2">action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% for(let student of data) {%>
                          <tr>
                            <th scope="row">1</th>
                            <td><%=student.name%></td>
                            <td><%=student.city%></td>
                            <td><%=student.phone%></td>
                            <td><img src="<%=student.photo%>" alt="img" height="50px" width="50px"></td>
                            <td><a href="/student/edit/<%=student._id%>" class="btn btn-success">Edit</a> </td>
                            <td><a href="/student/delete/<%=student._id%>" class="btn btn-danger">Delete</a> </td>
                         
                          </tr>
                          <%}%>
                        </tbody>
                      </table>
                    
                   
                </div>
            </div>
        </div>
        <!-- Footer-->
       <%-include('common/footer')%>
    </body>
</html>
